<form action="/login" method="POST">
  <ul style="list-style-type:none">
    <li>
      <label for="email"><b>Email Address:</b></label>
      <input type="email" name="email">
    </li>
    <li>
      <label for="password"><b>Password:</b></label>
      <input type="password" name="password">
    </li>
    <button style="background-color: #4CAF50; color: white; padding: 14px 20px; margin: 8px 0; border: none; cursor: pointer; width: 100%;" type="submit">Login</button>
</form>
