<form action="/register" method="POST">
  <ul style="list-style-type:none">
    <li>
      <label for="name"><b>Name:</b></label>
      <input type="text" name="name" required>
    </li>
    <li>
      <label for="email"><b>Email Address:</b></label>
      <input type="email" name="email" required>
    </li>
    <li>
      <label for="password"><b>Password:</b></label>
      <input type="password" name="password" required>
    </li>
    <li>
      <label for="password-confirm"><b>Confirm Password:</b></label>
      <input type="password" name="password-confirm" required>
    </li>
    <button style="background-color: #4CAF50; color: white; padding: 14px 20px; margin: 8px 0; border: none; cursor: pointer; width: 100%;" type="submit">Register</button>
</form>
