{{> header}}

	<section id="plaintext">
		<p>Thanks {{name}} for registering. You will be contacted with the email ({{email}}) you provided when you have been approved.</p>
		<p>Once approved you can log in and begin creating pool entries.</p>
		<p>Thanks for playing.</p>
		<br>
		<br>
		{{> footer}}
	</section>

	<section class="share">
	</section>
</body>
</html>
