{{> header}}

	<section id="bracket">
	<div class="container">
	<div class="split split-one">
		<div class="round round-one current">
			<div class="round-details">Round 1<br/><span id="round1date1" class="date">round1date</span></div>
			<h1 id="region1" style="text-align: center;">{{regions.region1}}</h1>
			<ul class="matchup">
				<li id="region1s1" class="team team-top">region1s1<span class="score">92</span></li>
				<li id="region1s16" class="team team-bottom">region1s16<span class="score">82</span></li>
			</ul>
			<ul class="matchup">
				<li id="region1s8" class="team team-top">region1s8<span class="score">64</span></li>
				<li id="region1s9" class="team team-bottom">region1s9<span class="score">56</span></li>
			</ul>
			<ul class="matchup">
				<li id="region1s5" class="team team-top">region1s5<span class="score">68</span></li>
				<li id="region1s12" class="team team-bottom">region1s12<span class="score">54</span></li>
			</ul>
			<ul class="matchup">
				<li id="region1s4" class="team team-top">region1s4<span class="score">74</span></li>
				<li id="region1s13" class="team team-bottom">region1s13<span class="score">92</span></li>
			</ul>
			<ul class="matchup">
				<li id="region1s6" class="team team-top">region1s6<span class="score">78</span></li>
				<li id="region1s11" class="team team-bottom">region1s11<span class="score">80</span></li>
			</ul>
			<ul class="matchup">
				<li id="region1s3" class="team team-top">region1s3<span class="score">64</span></li>
				<li id="region1s14" class="team team-bottom">region1s14<span class="score">63</span></li>
			</ul>
			<ul class="matchup">
				<li id="region1s7" class="team team-top">region1s7<span class="score">70</span></li>
				<li id="region1s10" class="team team-bottom">region1s10<span class="score">59</span></li>
			</ul>
			<ul class="matchup">
				<li id="region1s2" class="team team-top">region1s2<span class="score">64</span></li>
				<li id="region1s15" class="team team-bottom">region1s15<span class="score">68</span></li>
			</ul>
			<hr>
			<hr>
			<h1 id="region3" style="text-align: center;">{{regions.region3}}</h1>
			<ul class="matchup">
				<li id="region3s1" class="team team-top">region3s1<span class="score">76</span></li>
				<li id="region3s16" class="team team-bottom">region3s16<span class="score">82</span></li>
			</ul>
			<ul class="matchup">
				<li id="region3s8" class="team team-top">region3s8<span class="score">64</span></li>
				<li id="region3s9" class="team team-bottom">region3s9<span class="score">56</span></li>
			</ul>
			<ul class="matchup">
				<li id="region3s5" class="team team-top">region3s5<span class="score">68</span></li>
				<li id="region3s12" class="team team-bottom">region3s12<span class="score">54</span></li>
			</ul>
			<ul class="matchup">
				<li id="region3s4" class="team team-top">region3s4<span class="score">74</span></li>
				<li id="region3s13" class="team team-bottom">region3s13<span class="score">92</span></li>
			</ul>
			<ul class="matchup">
				<li id="region3s6" class="team team-top">region3s6<span class="score">78</span></li>
				<li id="region3s11" class="team team-bottom">region3s11<span class="score">80</span></li>
			</ul>
			<ul class="matchup">
				<li id="region3s3" class="team team-top">region3s3<span class="score">64</span></li>
				<li id="region3s14" class="team team-bottom">region3s14<span class="score">63</span></li>
			</ul>
			<ul class="matchup">
				<li id="region3s7" class="team team-top">region3s7<span class="score">70</span></li>
				<li id="region3s10" class="team team-bottom">region3s10<span class="score">59</span></li>
			</ul>
			<ul class="matchup">
				<li id="region3s2" class="team team-top">region3s2<span class="score">64</span></li>
				<li id="region3s15" class="team team-bottom">region3s15<span class="score">68</span></li>
			</ul>
		</div>	<!-- END ROUND ONE -->

		<div class="round round-two">
			<div class="round-details">Round 2<br/><span id="round2date1" class="date">round2date</span></div>
			<ul class="matchup" style="padding-top: 105px;">
				<li id="region1g1w" class="team team-top">region1g1w<span class="score">&nbsp;</span></li>
				<li id="region1g2w" class="team team-bottom">region1g2w<span class="score">&nbsp;</span></li>
			</ul>
			<ul class="matchup">
				<li id="region1g3w" class="team team-top">region1g3w<span class="score">&nbsp;</span></li>
				<li id="region1g4w" class="team team-bottom">region1g4w<span class="score">&nbsp;</span></li>
			</ul>
			<ul class="matchup">
				<li id="region1g5w" class="team team-top">region1g5w<span class="score">&nbsp;</span></li>
				<li id="region1g6w" class="team team-bottom">region1g6w<span class="score">&nbsp;</span></li>
			</ul>
			<ul class="matchup">
				<li id="region1g7w" class="team team-top">region1g7w<span class="score">&nbsp;</span></li>
				<li id="region1g8w" class="team team-bottom">region1g8w<span class="score">&nbsp;</span></li>
			</ul>
			<hr>
			<hr>
			<ul class="matchup" style="padding-top: 105px;">
				<li id="region3g1w" class="team team-top">region3g1w<span class="score">&nbsp;</span></li>
				<li id="region3g2w" class="team team-bottom">region3g2w<span class="score">&nbsp;</span></li>
			</ul>
			<ul class="matchup">
				<li id="region3g3w" class="team team-top">region3g3w<span class="score">&nbsp;</span></li>
				<li id="region3g4w" class="team team-bottom">region3g4w<span class="score">&nbsp;</span></li>
			</ul>
			<ul class="matchup">
				<li id="region3g5w" class="team team-top">region3g5w<span class="score">&nbsp;</span></li>
				<li id="region3g6w" class="team team-bottom">region3g6w<span class="score">&nbsp;</span></li>
			</ul>
			<ul class="matchup">
				<li id="region3g7w" class="team team-top">region3g7w<span class="score">&nbsp;</span></li>
				<li id="region3g8w" class="team team-bottom">region3g8w<span class="score">&nbsp;</span></li>
			</ul>
		</div>	<!-- END ROUND TWO -->

		<div class="round round-three">
			<div class="round-details">Round 3<br/><span id="round3date1" class="date">round3date</span></div>
			<ul class="matchup" style="padding-top: 185px;">
				<li id="region1g9w" class="team team-top">region1g9w<span class="score">&nbsp;</span></li>
				<li id="region1g10w" class="team team-bottom">region1g10w<span class="score">&nbsp;</span></li>
			</ul>
			<ul class="matchup">
				<li id="region1g11w" class="team team-top">region1g11w<span class="score">&nbsp;</span></li>
				<li id="region1g12w" class="team team-bottom">region1g12w<span class="score">&nbsp;</span></li>
			</ul>
			<hr>
			<hr>
			<ul class="matchup" style="padding-top: 185px;">
				<li id="region3g9w" class="team team-top">region3g9w<span class="score">&nbsp;</span></li>
				<li id="region3g10w" class="team team-bottom">region3g10w<span class="score">&nbsp;</span></li>
			</ul>
			<ul class="matchup">
				<li id="region3g11w" class="team team-top">region3g11w<span class="score">&nbsp;</span></li>
				<li id="region3g12w" class="team team-bottom">region3g12w<span class="score">&nbsp;</span></li>
			</ul>
		</div>	<!-- END ROUND THREE -->

		<div class="round round-four">
			<div class="round-details">Round 4<br/><span id="round4date1" class="date">round4date</span></div>
			<ul class="matchup" style="padding-top: 345px;">
				<li id="region1g13w" class="team team-top">region1g13w<span class="score">&nbsp;</span></li>
				<li id="region1g14w" class="team team-bottom">region1g14w<span class="score">&nbsp;</span></li>
			</ul>
			<hr>
			<hr>
			<ul class="matchup" style="padding-top: 505px;">
				<li id="region3g13w" class="team team-top">region3g13w<span class="score">&nbsp;</span></li>
				<li id="region3g14w" class="team team-bottom">region3g14w<span class="score">&nbsp;</span></li>
			</ul>
		</div>	<!-- END ROUND FOUR -->
	</div>


<div class="champion">
		<div class="semis-l">
			<div class="round-details">region1 & region2 semifinals <br/><span id="semidate1" class="date">semidate</span></div>
			<ul class ="matchup championship">
				<li id="region1winner" class="team team-top">region1winner<span class="vote-count">&nbsp;</span></li>
				<li id="region2winner" class="team team-bottom">region2winner<span class="vote-count">&nbsp;</span></li>
			</ul>
		</div>
		<div class="final">
			<i class="fa fa-trophy"></i>
			<div class="round-details">championship <br/><span id="champdate" class="date">champdate</span></div>
			<ul class ="matchup championship">
				<li id="champ12" class="team team-top">champ12<span class="vote-count">&nbsp;</span></li>
				<li id="champ34" class="team team-bottom">champ34<span class="vote-count">&nbsp;</span></li>
			</ul>
		</div>
		<div class="semis-r">
			<div class="round-details">region3 & region4 semifinals <br/><span id="semidate2" class="date">semidate</span></div>
			<ul class ="matchup championship">
				<li id="region3winner" class="team team-top">region3winner<span class="vote-count">&nbsp;</span></li>
				<li id="region4winner" class="team team-bottom">region4winner<span class="vote-count">&nbsp;</span></li>
			</ul>
		</div>
	</div>


	<div class="split split-two">


		<div class="round round-four">
			<div class="round-details">Round 4<br/><span id="round4date2" class="date">round4date</span></div>
			<ul class="matchup" style="padding-top: 345px;">
				<li id="region2g13w" class="team team-top">region2g13w<span class="score">&nbsp;</span></li>
				<li id="region2g14w" class="team team-bottom">region2g14w<span class="score">&nbsp;</span></li>
			</ul>
			<hr>
			<hr>
			<ul class="matchup" style="padding-top: 505px;">
				<li id="region4g13w" class="team team-top">region4g13w<span class="score">&nbsp;</span></li>
				<li id="region4g14w" class="team team-bottom">region4g14w<span class="score">&nbsp;</span></li>
			</ul>
		</div>	<!-- END ROUND FOUR -->

		<div class="round round-three">
			<div class="round-details">Round 3<br/><span id="round3date2" class="date">round3date</span></div>
			<ul class="matchup" style="padding-top: 185px;">
				<li id="region2g9w" class="team team-top">region2g9w<span class="score">&nbsp;</span></li>
				<li id="region2g10w" class="team team-bottom">region2g10w<span class="score">&nbsp;</span></li>
			</ul>
			<ul class="matchup">
				<li id="region2g11w" class="team team-top">region2g11w<span class="score">&nbsp;</span></li>
				<li id="region2g12w" class="team team-bottom">region2g12w<span class="score">&nbsp;</span></li>
			</ul>
			<hr>
			<hr>
			<ul class="matchup" style="padding-top: 185px;">
				<li id="region4g9w" class="team team-top">region4g9w<span class="score">&nbsp;</span></li>
				<li id="region4g10w" class="team team-bottom">region4g10w<span class="score">&nbsp;</span></li>
			</ul>
			<ul class="matchup">
				<li id="region4g11w" class="team team-top">region4g11w<span class="score">&nbsp;</span></li>
				<li id="region4g12w" class="team team-bottom">region4g12w<span class="score">&nbsp;</span></li>
			</ul>
		</div>	<!-- END ROUND THREE -->

		<div class="round round-two">
			<div class="round-details">Round 2<br/><span id="round2date2" class="date">round2date</span></div>
			<ul class="matchup" style="padding-top: 105px;">
				<li id="region2g1w" class="team team-top">region2g1w<span class="score">&nbsp;</span></li>
				<li id="region2g2w" class="team team-bottom">region2g2w<span class="score">&nbsp;</span></li>
			</ul>
			<ul class="matchup">
				<li id="region2g3w" class="team team-top">region2g3w<span class="score">&nbsp;</span></li>
				<li id="region2g4w" class="team team-bottom">region2g4w<span class="score">&nbsp;</span></li>
			</ul>
			<ul class="matchup">
				<li id="region2g5w" class="team team-top">region2g5w<span class="score">&nbsp;</span></li>
				<li id="region2g6w" class="team team-bottom">region2g6w<span class="score">&nbsp;</span></li>
			</ul>
			<ul class="matchup">
				<li id="region2g7w" class="team team-top">region2g7w<span class="score">&nbsp;</span></li>
				<li id="region2g8w" class="team team-bottom">region2g8w<span class="score">&nbsp;</span></li>
			</ul>
			<hr>
			<hr>
			<ul class="matchup" style="padding-top: 105px;">
				<li id="region4g1w" class="team team-top">region4g1w<span class="score">&nbsp;</span></li>
				<li id="region4g2w" class="team team-bottom">region4g2w<span class="score">&nbsp;</span></li>
			</ul>
			<ul class="matchup">
				<li id="region4g3w" class="team team-top">region4g3w<span class="score">&nbsp;</span></li>
				<li id="region4g4w" class="team team-bottom">region4g4w<span class="score">&nbsp;</span></li>
			</ul>
			<ul class="matchup">
				<li id="region4g5w" class="team team-top">region4g5w<span class="score">&nbsp;</span></li>
				<li id="region4g6w" class="team team-bottom">region4g6w<span class="score">&nbsp;</span></li>
			</ul>
			<ul class="matchup">
				<li id="region4g7w" class="team team-top">region4g7w<span class="score">&nbsp;</span></li>
				<li id="region4g8w" class="team team-bottom">region4g8w<span class="score">&nbsp;</span></li>
			</ul>
		</div>	<!-- END ROUND TWO -->
 		<div class="round round-one current">
			<div class="round-details">Round 1<br/><span id="round1date2" class="date">round1date</span></div>
			<h1 id="region2" style="text-align: center;">{{regions.region2}}</h1>
			<ul class="matchup">
				<li id="region2s1" class="team team-top">region2s1<span class="score">62</span></li>
				<li id="region2s16" class="team team-bottom">region2s16<span class="score">54</span></li>
			</ul>
			<ul class="matchup">
				<li id="region2s8" class="team team-top">region2s8<span class="score">68</span></li>
				<li id="region2s9" class="team team-bottom">region2s9<span class="score">66</span></li>
			</ul>
			<ul class="matchup">
				<li id="region2s5" class="team team-top">region2s5<span class="score">64</span></li>
				<li id="region2s12" class="team team-bottom">region2s12<span class="score">56</span></li>
			</ul>
			<ul class="matchup">
				<li id="region2s4" class="team team-top">region2s4<span class="score">36</span></li>
				<li id="region2s13" class="team team-bottom">region2s13<span class="score">40</span></li>
			</ul>
			<ul class="matchup">
				<li id="region2s6" class="team team-top">region2s6<span class="score">38</span></li>
				<li id="region2s11" class="team team-bottom">region2s11<span class="score">44</span></li>
			</ul>
			<ul class="matchup">
				<li id="region2s3" class="team team-top">region2s3<span class="score">52</span></li>
				<li id="region2s14" class="team team-bottom">region2s14<span class="score">80</span></li>
			</ul>
			<ul class="matchup">
				<li id="region2s7" class="team team-top">region2s7<span class="score">58</span></li>
				<li id="region2s10" class="team team-bottom">region2s10<span class="score">59</span></li>
			</ul>
			<ul class="matchup">
				<li id="region2s2" class="team team-top">region2s2<span class="score">74</span></li>
				<li id="region2s15" class="team team-bottom">region2s15<span class="score">111</span></li>
			</ul>
			<hr>
			<hr>
			<h1 id="region4" style="text-align: center;">{{regions.region4}}</h1>
			<ul class="matchup">
				<li id="region4s1" class="team team-top">region4s1<span class="score">62</span></li>
				<li id="region4s16" class="team team-bottom">region4s16<span class="score">54</span></li>
			</ul>
			<ul class="matchup">
				<li id="region4s8" class="team team-top">region4s8<span class="score">68</span></li>
				<li id="region4s9" class="team team-bottom">region4s9<span class="score">66</span></li>
			</ul>
			<ul class="matchup">
				<li id="region4s5" class="team team-top">region4s5<span class="score">64</span></li>
				<li id="region4s12" class="team team-bottom">region4s12<span class="score">56</span></li>
			</ul>
			<ul class="matchup">
				<li id="region4s4" class="team team-top">region4s4<span class="score">36</span></li>
				<li id="region4s13" class="team team-bottom">region4s13<span class="score">40</span></li>
			</ul>
			<ul class="matchup">
				<li id="region4s6" class="team team-top">region4s6<span class="score">38</span></li>
				<li id="region4s11" class="team team-bottom">region4s11<span class="score">44</span></li>
			</ul>
			<ul class="matchup">
				<li id="region4s3" class="team team-top">region4s3<span class="score">52</span></li>
				<li id="region4s14" class="team team-bottom">region4s14<span class="score">80</span></li>
			</ul>
			<ul class="matchup">
				<li id="region4s7" class="team team-top">region4s7<span class="score">58</span></li>
				<li id="region4s10" class="team team-bottom">region4s10<span class="score">59</span></li>
			</ul>
			<ul class="matchup">
				<li id="region4s2" class="team team-top">region4s2<span class="score">74</span></li>
				<li id="region4s15" class="team team-bottom">region4s15<span class="score">111</span></li>
			</ul>
		</div>	<!-- END ROUND ONE -->
	</div>
	</div>
	<br>
	</section>
	<section id="plaintext">
		{{> footer}}
	</section>
	<section class="share">
	</section>
</body>
</html>
