{{> header}}

	<section id="plaintext">
		<article class="">
			Things have changed quite a bit this year. I have done away with the Excel spreadsheets, finally. I have created this site to record your brackets and track all the results.
		</article>
		<br>
		<br>
		{{> footer}}
	</section>

	<section class="share">
	</section>
</body>
</html>
