{{> header}}

	<section id="plaintext">
    <h2>Login</h2>
		{{> loginform}}
		<br>
	</section>

	<section id="plaintext">
		{{> footer}}
	</section>

	<section class="share">
	</section>
</body>
</html>
