{{> header}}

	<section id="plaintext">
    <h2>Registration Form</h2>
		{{> registerform}}
	</section>

	<section id="plaintext">
		{{> footer}}
	</section>

	<section class="share">
	</section>
</body>
</html>
